*.log
__pycache__/
.env
inventory*.yml
learning_archive/
NETBOX_URL=http://localhost:8000
NETBOX_TOKEN=c2ME5bSkp8geCDNvwHOAnKBKNiev6P7DRCEi1tD3
.venv/
__pycache__/
*.pyc
*.env
settings.py
config.py
logs/
*.log
reports/*.json
reports/*.txt
.idea/
.vscode/
.DS_Store
Thumbs.db
# If you put passwords in a file, add it here!

