<config>
 <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <policy>
    {% for cm in class %}
    <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
      <name>{{ cm.name }}</name>
      <prematch>{{ cm.match_type }}</prematch>
      <match>
        <protocol>
          <protocols-list>
            <protocols>{{ cm.protocol }}</protocols>
          </protocols-list>
        </protocol>
      </match>
    </class-map>
    {% endfor %}
    
    <policy-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
      <name>{{ policy_name }}</name>
      
      {% for cm in class_maps %}
      <class>
        <name>{{ cm.name }}</name>
        <action-list>
          <action-type>{{ cm.action_type }}</action-type>
          {% if cm.action_type == 'priority' %}
          <priority>
            <kilo-bits>{{ cm.bandwidth }}</kilo-bits>
          </priority>
          {% elif cm.action_type == 'bandwidth' %}
          <bandwidth>
            <kilo-bits>{{ cm.bandwidth }}</kilo-bits>
          </bandwidth>
          {% endif %}
        </action-list>
      </class>
      {% endfor %}
      
      <class>
        <name>class-default</name>
        <action-list>
          <action-type>fair-queue</action-type>
        </action-list>
      </class>
    </policy-map>
  </policy>
 </native>
</config>
