{% if enabled_vlans %}
ip arp inspection vlan {{ enabled_vlans | join(',') }}
{% endif %}

{% for interface, data in interfaces.items() %}
interface {{ interface }}

{% if data.get("trusted") %}
 ip arp inspection trust
{% endif %}

{% if data.get("rate_limit") %}
 ip arp inspection limit rate {{ data.get("rate_limit") }}
{% endif %}

{% endfor %}

{% if log_buffer.get("enabled") %}
ip arp inspection log-buffer entries {{ log_buffer.get("entries") }}
{% endif %}