{% for i in interface_list %}
interface {{ i.interface }}

{% if i.enabled %}
 switchport port-security
{% endif %}

{% if i.maximum %}
 switchport port-security maximum {{ i.maximum }}
{% endif %}

{% if i.violation %}
 switchport port-security violation {{ i.violation }}
{% endif %}

{% if i.sticky %}
 switchport port-security mac-address sticky
{% endif %}

{% if i.mac_addresses %}
{% for mac in i.mac_addresses %}
 switchport port-security mac-address {{ mac }}
{% endfor %}
{% endif %}

{% endfor %}