<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <cdp>
        <holdtime xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-cdp">{{ holdtime }}</holdtime>
        <timer xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-cdp">{{ timer }}</timer>
        {% if enabled %}
        <run-enable xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-cdp">true</run-enable>
        <run xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-cdp"/>
        {% endif %}
    </cdp>
</native>