<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
        <{{ interface_type }}>
            <name>{{ interface_num }}</name>
            {% if enabled %}
            <cdp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-cdp">
                <enable>true</enable>
            </cdp>
            {% else %}
            <cdp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-cdp">
                <enable>false</enable>
            </cdp>
            {% endif %}
        </{{ interface_type }}>
    </interface>
</native>