<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
       <dhcp>
            <excluded-address xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-dhcp">
                {% for e in excluded_addresses %}
                <low-high-address-list>
                    <low-address>{{ e.start_ip }}</low-address>
                    <high-address>{{ e.end_ip }}</high-address>
                </low-high-address-list>
                {% endfor %}
            </excluded-address>
        </dhcp>
    </ip>
</native>