<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
        <{{ interface_type }}>
            <name>{{ interface_num }}</name>
            <ip>
                <helper-address>
                    <address>{{ helper_ip }}</address>
                </helper-address>
            </ip>
    </{{ interface_type }}>
</native>