<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ntp>
        <authenticate xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ntp"/>
        {% for k in ntp_keys %}
        <authentication-key xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ntp">
            <number>{{ k.id }}</number>
            <md5-cfg>{{ k.secret }}</md5-cfg>
            <md5>{{ k.secret }}</md5>
            <encryption-type>{{ k.encryption_type }}</encryption-type>
        </authentication-key>
        {% endfor %}
        {% for s in ntp_servers %}
        <server xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ntp">
            <server-list>
                <ip-address>{{ s.ip }}</ip-address>
                <key>{{ s.key_id }}</key>
            </server-list>
        </server>
        {% endfor %}
        <trusted-key xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ntp">
            <number>1</number>
        </trusted-key>
    </ntp>
</native>