<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <service>
        <timestamps>
            <log>
                <datetime>
                    <msec/>
                </datetime>
            </log>
        </timestamps>
        <call-home/>
    </service>
</native>