{% for h in hosts %}
logging host {{ h }}
{% endfor %}

{% if facility %}
logging facility {{ facility }}
{% endif %}

{% if trap_level %}
logging trap {{ trap_level }}
{% endif %}

{% if source_interface %}
logging source-interface {{ source_interface }}
{% endif %}

{% if timestamps %}
service timestamps log datetime msec
{% endif %}