<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
        <nat xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-nat">
            <inside>
                <source>
                    <static>
                        {% for static in nat.static %}
                        <nat-static-transport-list>
                            <local-ip>{{ static.inside_local }}</local-ip>
                            <global-ip>{{ static.inside_global }}</global-ip>
                        </nat-static-transport-list>
                        {% endfor %}
                    </static>
                </source>
            </inside>
        </nat>
    </ip>
</native>