{
    "Cisco-IOS-XE-native:router": {
        "Cisco-IOS-XE-ospf:router-ospf": {
            "ospf": {
                "process-id": [
                    {
                        "id": {{ process_id }},
                        {% for n in network_list %}
                        "network": [
                            {
                                "ip": {{ n.subnet }},
                                "wildcard": {{ n.wildcard }},
                                "area": {{ n.area }}
                            }
                        ],
                        {% endfor %}
                        "router-id": "1.1.1.1"
                    }
                ]
            }
        }
    }
}