{
  "Cisco-IOS-XE-native:interface": {
    {{ interface_type }}: [
      {
        "name": {{ interface_num }},
        "encapsulation": {
          "dot1Q": {
            "vlan-id": {{ router_vlan }}
          }
        },
        "ip": {
          "address": {
            "primary": {
              "address": {{ ip }},
              "mask": {{ mask }}
            }
          }
        }
      }
    ]
  }
}