<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
        <route>
            {% for s in static %}
            <ip-route-interface-forwarding-list>
                <prefix>{{ s.network_address }}</prefix>
                <mask>{{ s.mask }}</mask>
                <fwd-list>
                    <fwd>{{ s.exit_interface }}</fwd>
                    <interface-next-hop>
                        <ip-address>{{ s.next_hop }}</ip-address>
                        <metric>{{ s.ad }}</metric>
                        {% if s.name %}
                        <name>{{ s.name }}</name>
                        {% endif %}
                    </interface-next-hop>
                </fwd-list>
            </ip-route-interface-forwarding-list>
            {% endfor %}
        </route>
    </ip>
</native>