aiohttp==3.14.1
attr==0.3.2
backports.statistics==0.1.0
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.4.3
ciscoconfparse==1.9.52
colorama==0.4.6
config==0.5.1
ConfigParser==7.2.0
cryptography==49.0.0
docutils==0.23
filelock==3.29.7
h2==4.3.0
HTMLParser==0.0.2
ipython==9.15.0
ipywidgets==8.1.8
Jinja2==3.1.6
jnius==1.1.0
js==1.0
keyring==25.7.0
multidict==6.7.1
ncclient==0.7.1
netmiko==4.7.0
pynetbox==7.8.0
pyodide==0.0.2
pyOpenSSL==26.3.0
python-dotenv==1.2.2
redis==8.0.1
simplejson==4.1.1
Sphinx==9.1.0
thread==2.0.6
tokenize_rt==6.2.0
typing_extensions==4.16.0
uvloop==0.22.1
winloop==0.6.3
xmlrpclib==1.0.1
xmltodict==1.0.4
